<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://arduino/1.0"
            class="net.sf.smbt.mdl.arduino.providers.ArduinoEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="net.sf.smbt.mdl.arduino.providers.ArduinoPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

  <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="net.sf.smbt.arduino.emf.editor"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="net.sf.smbt.arduino.emf.editor">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="net.sf.smbt.arduino.emf.editor">
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.ArduinoPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.ArduinoPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.Arduino"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.PortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.PortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.Port"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.DigitalPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.DigitalPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.DigitalPort"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.AnalogPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.AnalogPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.AnalogPort"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.RxPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.RxPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.RxPort"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.TxPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.TxPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.TxPort"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.GndPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.GndPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.GndPort"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.Port3V3PropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.Port3V3PropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.Port3V3"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.RstPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.RstPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.RstPort"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.Port5VPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.Port5VPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.Port5V"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.Port9VPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.Port9VPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.Port9V"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.PortIO7PropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.PortIO7PropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.PortIO7"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.AREFPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.AREFPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.AREFPort"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.PortVINPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.PortVINPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.PortVIN"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
   
   
   
   
   
   
   
   
   <!--
   //
   // Sirius twin 
   //
   -->
   
   
   
     <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.diagram.ui"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.ArduinoPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.ArduinoPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.Arduino4Sirius"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.PortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.PortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.Port4Sirius"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.DigitalPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.DigitalPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.DigitalPort4Sirius"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.AnalogPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.AnalogPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.AnalogPort4Sirius"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.RxPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.RxPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.RxPort4Sirius"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.TxPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.TxPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.TxPort4Sirius"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.GndPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.GndPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.GndPort4Sirius"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.Port3V3PropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.Port3V3PropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.Port3V34Sirius"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.RstPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.RstPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.RstPort4Sirius"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.Port5VPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.Port5VPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.Port5V4Sirius"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.Port9VPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.Port9VPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.Port9V4Sirius"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.PortIO7PropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.PortIO7PropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.PortIO74Sirius"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.AREFPortPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.AREFPortPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.AREFPort4Sirius"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.sf.smbt.mdl.arduino.parts.forms.PortVINPropertiesEditionPartForm"
               filter="net.sf.smbt.mdl.arduino.providers.PortVINPropertiesEditionProvider$EditionFilter"
               id="net.sf.smbt.mdl.arduino.section.PortVIN4Sirius"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
   
</plugin>
